@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,800;1,400&family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap');

body {
  background-color: var(--bg-primary);
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', 'Arial Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--text-color);
  text-align: left;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 25px;
}
@media only screen and (max-width: 512px) {
  h1 {
    font-size: 50px;
 }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
}
.centered {
  text-align: center;
}

/* Body text */
.serif-text {
  font-family: 'Lora', 'Times New Roman', serif;
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color);
}
.sans-serif-text {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color);
}

/* Quotes */
blockquote {
  padding: 0px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid var(--quote-color);
  color: var(--quote-color);
  font-style: italic;
}

/* Code */
pre {
  background-image: linear-gradient(var(--bg-code-1) 50%, var(--bg-code-2) 50%);
  background-repeat: repeat;
  background-size: 3em 3em;
  background-position: 0px 10px;
  color: var(--text-color);
  border-left: 7px solid var(--text-color);
  border-radius: 4px;
  font-size: 16px;
  padding: 9.5px;
  overflow: auto;
  white-space: pre;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 20px;
}
thead tr {
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}
tbody tr:nth-child(odd) {
  background-color: var(--bg-table);
}

/* Links */
a {
  text-decoration: none;
  color: #008AFF;
}
a:hover {
  text-decoration: underline;
}

/* Images */
img {
  width: 100%;
}
img.invert-on-darkmode {
  filter: invert(var(--image-inversion));
  -webkit-filter: invert(var(--image-inversion));
  -moz-filter: invert(var(--image-inversion));
  -ms-filter: invert(var(--image-inversion));
  -o-filter: invert(var(--image-inversion));
}

/* Other */
.centered-box {
  margin: auto;
  width: 50%;
  min-width: 300px;
}

.transition {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
